.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  justify-content: space-between


}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
span  {
  padding-right: 1rem;}
